
body{
    color: rgb(198, 218, 198);
}


.main {

    text-align: center;
    border: hotpink;
    border-radius: 5px;
}

.address {
    text-align: left;
    /* padding-right: 35px; */
   
}
/* .text-box{
    /* width: 100%;
    overflow: hidden;
    font-size: 20px;
    /* padding: 8px 0; */
    /* margin-bottom: 8px 0; */
    /* border-bottom: 1px solid; */ 


/*     h3 {
        color: red;
        font-style: italic;
        font-weight: lighter;
    } */
.box{
    
   
    background: #082849;
    margin: 0px;
    padding: 10px;
   
}
.box input[type="text"],.box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(162, 158, 167);
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: darkslategrey;
    border-radius: 24px;
    transition: 1s;

    
}
.box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid hotpink;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: darkslategrey;
    border-radius: 24px;
    transition:all 0.5s ease;

    
}
.box input[type="text"]:focus, .box input[type="email"]:focus,.box textarea:focus{
    width: 220px;
    border-color: #0be881;
    border-radius: 20px 0 10px;
    
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(27, 171, 214);
    padding: 10px 40px;
    
    outline: none;
    color: rgb(13, 240, 6);
    border-radius: 24px;
    transition: all 0.25s ease;
    cursor: pointer;

}


.box input[type="submit"]:hover{
    background: #fcad03;
    border-radius: 20px 0 20px 0;
    transition: all 1s ease;
    color: rgb(212, 33, 1);
    font-size: 20px;
}


