* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}

body {
    font-family: montserrat;
    height: 100vh;

}

nav {
    background: #010e18;
    height: 80px;
    width: 100%;
}

label.logo {
    /* color: #fff; */
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    background: -webkit-linear-gradient(20deg, red, rgb(7, 7, 240));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    padding: 0;
    margin: 7px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}

.heading {
    font-size: 25px;
}

img {
    height: 250px;
    width: 100%;
}

.ftr {
   
    height: 100px;
    background-color: rgb(8, 8, 8);
}

footer {
    /* background-color: darkslateblue; */
    text-align: center;

    font-weight: 900;

   
    /* padding-top: 45rem; */
    /* color: lightseagreen; */

}

footer a {
    /* background-color: darkslateblue; */
    text-align: center;

    padding: 5px;

    /* padding-bottom: 10px; */
    /*padding-top: 60rem;*/
    /* color: lightseagreen; */
    font-size: 15px;

    background: -webkit-linear-gradient(20deg, red, rgb(7, 7, 240));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer a:hover {
    color: #fff;
}

.foot {
    
    font-size: 15px;
    font-weight: 900;
    background: -webkit-linear-gradient(20deg, red, rgb(236, 236, 245));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.heart {
    /* color: rgb(255, 20, 20); */
    font-size: .8rem;
    font-weight: 900;
    background: -webkit-linear-gradient(60deg, rgb(245, 9, 99), rgb(252, 6, 120));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;ss
}





@media (max-width:958px) {
    .logo {
        font-size: 35px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    img {
        height: 350px;
        width: 70%;
    }


}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    .active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    img {
        height: 350px;
        width: 70%;
    }

footer a {
    /* background-color: darkslateblue; */
    text-align: center;

    padding: 5px;

    /* padding-bottom: 10px; */
    /*padding-top: 60rem;*/
    /* color: lightseagreen; */
    font-size: 22px;

    background: -webkit-linear-gradient(20deg, red, rgb(7, 7, 240));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


}

@media (max-width:394px) {
    label.logo {
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        padding: 0 50px;
        font-weight: bold;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    .active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    img {
        height: 250px;
        width: 100%;
    }

}
